 <!-- 侧边菜单 -->
<div class="layui-side layui-side-menu">
    <div class="layui-side-scroll">
        <div class="layui-logo" lay-href="home/console.html">
            <span>LuoCoreAdmin</span>
        </div>

        <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
            <li data-name="home" class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;" lay-tips="主页" lay-direction="2">
                    <i class="layui-icon layui-icon-home"></i>
                    <cite>主页</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd data-name="console" class="layui-this">
                        <a lay-href="home/console.html">控制台</a>
                    </dd>
                </dl>
            </li>
            <li data-name="systemConfig" class="layui-nav-item">
                <a href="javascript:;" lay-tips="系统配置" lay-direction="2">
                    <i class="layui-icon layui-icon-component"></i>
                    <cite>系统配置</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd data-name="nav">
                        <a lay-href="/SystemConfig/UserManage">用户管理</a>
                    </dd>
                </dl>
            </li>
         
        </ul>
    </div>
</div>
