@using Luo.Core.Common
@using System.Net.Http.Headers;
@page "/login"
@layout LoginLayout
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
@inject HttpClient httpRequest
@*@inject IHttpClientFactory HttpClientFactory*@
@inject Luo.Core.Models.Dtos.BlazorWasm.AppSettingsDto AppSettings

<form class="card card-md" action="." method="get" autocomplete="off">
    <div class="card-body">
        <h2 class="card-title text-center mb-4">Login to your account</h2>
        <div class="mb-3">
            <label class="form-label">用户名称</label>
            <input type="text" class="form-control" placeholder="请填写用户名称" autocomplete="off" @bind-value="@MemberName">
        </div>
        <div class="mb-2">
            <label class="form-label">
                密码
                <span class="form-label-description">
                    <a href="./forgot-password.html">I forgot password</a>
                </span>
            </label>
            <div class="input-group input-group-flat">
                <input type="password" class="form-control" placeholder="请填写用户密码" autocomplete="off" @bind-value="@Password">
                <span class="input-group-text">
                    <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip">
                        <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><circle cx="12" cy="12" r="2" /><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" /></svg>
                    </a>
                </span>
            </div>
        </div>
        <div class="mb-2">
            <label class="form-check">
                <input type="checkbox" class="form-check-input" />
                <span class="form-check-label">Remember me on this device</span>
            </label>
        </div>
        <div class="form-footer">
            <button type="button" class="btn btn-primary w-100" @onclick="LoginMethod">登录</button>
        </div>
    </div>

</form>
@code{
    private string MemberName { get; set; }
    private string Password { get; set; }
    private async Task LoginMethod()
    {

        try
        {
            var set = await httpRequest.GetFromJsonAsync<Luo.Core.Models.Dtos.BlazorWasm.AppSettingsDto>("appsettings.json");
            AppSettings.ConnectionString = set.ConnectionString;
            HttpRequestMessage httpRequestMessage = new HttpRequestMessage();
            httpRequestMessage.Method = new HttpMethod("POST");
            httpRequestMessage.RequestUri = new Uri($"{AppSettings.ConnectionString}" + "token");
            var sign = new { account = "test", password = "123", token = "" };

            httpRequestMessage.Content = new StringContent(sign.ObjToJson());
            httpRequestMessage.Content.Headers.ContentType = new MediaTypeHeaderValue("application/json");

            var response = await httpRequest.SendAsync(httpRequestMessage);
            var responseStatusCode = response.StatusCode;
            var responseBody = await response.Content.ReadAsStringAsync();
        }
        catch (Exception ex)
        {

            throw;
        }



        //var httpClient = HttpClientFactory.CreateClient(name: "LuoCore");
        //httpClient.DefaultRequestHeaders.Add("Content-Type", "application/json");
        //var result = await httpClient.PostAsJsonAsync("token",new { account="test", password="123", token="" });
        if (MemberName == "123" && Password == "123")
        {
            Console.WriteLine("登录成功");
            LocalStorageHelper localStorageHelper = new LocalStorageHelper(JSRuntime);
            await localStorageHelper.SetLocalStorage("email", MemberName);
            navigationManager.NavigateTo("/", false);

        }
    }

}