@using Luo.Core.Utility;
@{
    List<Luo.Core.Models.ViewModels.Response.MenuInfoList> _userBtn = this.Context.GetMenuButton("/SystemConfig/MenuManage");

}
<link href="~/css/treetable.css" rel="stylesheet" asp-append-version="true" />
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">关键字</label>
                <div class="layui-input-inline">
                    <input type="text" name="keyword" placeholder="" class="layui-input">
                </div>
                <button class="layui-btn layui-btn-md layui-btn-primary" lay-submit lay-filter="power-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="layui-btn layui-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>

<div class="layui-card">
    <div class="layui-card-body">
        <table id="tableData" lay-filter="tableFilter"></table>
    </div>
</div>

<script type="text/html" id="menu-toolbar">

    <button class="layui-btn layui-btn-normal layui-btn-md layui-btn-mt10 layui-btn-ml10" lay-event="btnQuery">
        <i class="layui-icon layui-icon-search"></i>
        查询
    </button>
    @{
        if (_userBtn.Any(x => x.MenuName == "添加"))
        {
            <button class="layui-btn layui-btn-primary layui-btn-md layui-btn-mt10" lay-event="add">
                <i class="layui-icon layui-icon-add-1"></i>
                新增
            </button>
        }
        if (_userBtn.Any(x => x.MenuName == "删除"))
        {
            <button class="layui-btn layui-btn-danger layui-btn-md layui-btn-mt10" lay-event="batchRemove">
                <i class="layui-icon layui-icon-delete"></i>
                删除
            </button>
        }
    }


    <button class="layui-btn layui-btn-success layui-btn-md layui-btn-mt10" lay-event="expandAll">
        <i class="layui-icon layui-icon-spread-left"></i>
        展开
    </button>
    <button class="layui-btn layui-btn-success layui-btn-md layui-btn-mt10" lay-event="foldAll">
        <i class="layui-icon layui-icon-shrink-right"></i>
        折叠
    </button>

</script>

<script type="text/html" id="menu-bar">
    <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
    <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
</script>

<script type="text/html" id="menu-type">
    {{#if (d.menuType == '0') { }}
    <span>目录</span>
    {{# }else if(d.menuType == '1'){ }}
    <span>菜单</span>
    {{# }else if(d.menuType == '2'){ }}
    <span>按钮</span>
    {{# } }}
</script>

<script type="text/html" id="menu-enable">
    <input type="checkbox" name="menu-enable" value="{{d.menuEnable}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="user-enable" checked="{{ d.menuEnable ? 'true' : 'false' }}">
</script>

<script type="text/html" id="menu-icon">
    <i class="layui-icon {{d.menuIcon}}"></i>
</script>



@section Scripts {
    <script src="~/layui_extend/treetable.js" asp-append-version="true"></script>
    <script>
        layui.use(['table', 'form', 'jquery', 'treetable'], function () {
            let table = layui.table;
            let form = layui.form;
            let $ = layui.jquery;
            let treetable = layui.treetable;


            treetable.render({
                elem: '#tableData',
                treeColIndex: 1,
                treeSpid: 0,
                treeIdName: 'menuId',
                method: "post",
                treePidName: 'parentMenuId',
                skin: 'line',
                treeDefaultClose: true,
                toolbar: '#menu-toolbar',
                page: false,
                cols: [
                    [
                        { type: 'checkbox' },
                        { field: 'menuName', minWidth: 200, title: '权限名称' },
                        { field: 'menuIcon', title: '图标', templet: '#menu-icon' },
                        { field: 'menuUrl', minWidth: 200, title: '权限链接' },
                        { field: 'menuType', title: '权限类型', templet: '#menu-type' },
                        { field: 'menuEnable', title: '是否禁用', templet: '#menu-enable' },
                        { field: 'menuSort', title: '排序' },

                        { title: '操作', templet: '#menu-bar', width: 150, align: 'center' }
                    ]
                ]
            });
            debugger;
            table.on('tool(tableFilter)', function (obj) {
                if (obj.event === 'remove') {
                    window.remove(obj);
                } else if (obj.event === 'edit') {
                    window.edit(obj);
                }
            })

            table.on('toolbar(tableFilter)', function (obj) {
                if (obj.event === 'add') {
                    window.add();
                } else if (obj.event === 'btnQuery') {
                    treetable.reload("#tableData", "/SystemConfig/GetMenuInfos")

                } else if (obj.event === 'batchRemove') {
                    window.batchRemove(obj);
                } else if (obj.event === 'expandAll') {
                    treetable.expandAll("#power-table");
                } else if (obj.event === 'foldAll') {
                    treetable.foldAll("#power-table");
                } else if (obj.event === 'reload') {
                    treetable.reload("#power-table");
                }
            });

            form.on('submit(power-query)', function (data) {
                var keyword = data.field.keyword;
                treetable.search('#power-table', keyword);
                return false;
            });

            window.add = function () {

                layer.open({
                    title: "菜单信息",
                    area: ['400px', '500px'],
                    anim: 1,//弹出动画
                    resize: false,//是否允许拉伸
                    type: 2,
                    content: '/SystemConfig/MenuInfo',
                });
            }

            window.edit = function (obj) {
              
                layer.open({
                    type: 2,
                    title: '修改',
                    shade: 0.1,
                    area: ['450px', '500px'],
                    content: '/SystemConfig/MenuInfo',
                    success: function (layero, index) {
                        //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                        var iframe = window[layero.find('iframe')[0]['name']];
                        iframe.ParentSetValue(obj.data);
                    }
                });
            }

            window.remove = function (obj) {
                layer.confirm('确定要删除该权限', { icon: 3, title: '提示' }, function (index) {
                    layer.close(index);
                    let loading = layer.load();
                    $.ajax({
                        url: MODULE_PATH + "remove/" + obj.data['powerId'],
                        dataType: 'json',
                        type: 'delete',
                        success: function (result) {
                            layer.close(loading);
                            if (result.success) {
                                layer.msg(result.msg, { icon: 1, time: 1000 }, function () {
                                    obj.del();
                                });
                            } else {
                                layer.msg(result.msg, { icon: 2, time: 1000 });
                            }
                        }
                    })
                });
            }

            window.batchRemove = function (obj) {
                let data = table.checkStatus(obj.config.id).data;
                if (data.length === 0) {
                    layer.msg("未选中数据", {
                        icon: 3,
                        time: 1000
                    });
                    return false;
                }
                let ids = "";
                for (let i = 0; i < data.length; i++) {
                    ids += data[i].powerId + ",";
                }
                ids = ids.substr(0, ids.length - 1);
                layer.confirm('确定要删除这些数据', {
                    icon: 3,
                    title: '提示'
                }, function (index) {
                    layer.close(index);
                    let loading = layer.load();
                    $.ajax({
                        url: MODULE_PATH + "batchRemove/" + ids,
                        dataType: 'json',
                        type: 'delete',
                        success: function (result) {
                            layer.close(loading);
                            if (result.success) {
                                layer.msg(result.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function () {
                                    table.reload('user-table');
                                });
                            } else {
                                layer.msg(result.msg, {
                                    icon: 2,
                                    time: 1000
                                });
                            }
                        }
                    })
                });
            }
        })
    </script>
}