
@{
    ViewData["Title"] = "RoleInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="card">

    <div class="card-body">
        <form class="row gx-3 gy-2 align-items-center layui-form">
            <div class="col-12 col-sm-6">
                <label class="input-group-text">角色名称</label>
                <input id="roleName" class="layui-input" placeholder="请输入角色名称" lay-verType="tips" lay-verify="required" required />
            </div>
            <div class="col-12 col-sm-6">
                <label class="input-group-text">菜单权限</label>
                <div id="roleMenu" class="demo-tree-more"></div>
            </div>


          

        </form>



    </div>
    <div class="card-footer text-muted  text-center">
        <div class="col-auto">
            <button type="button" name="btn-save" class="btn btn-primary btn-lg">保存</button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/layui_extend/xm-select.js"></script>
    <script>

        function ShowDialog_Load(reqData) {


            let roleId = 0;


            layui.use(['layer', 'tree', 'form', 'xmSelect'], function () {

                var $ = layui.jquery;
                var layer = layui.layer;
                var form = layui.form;
                var xmSelect = layui.xmSelect;
                const tree = layui.tree;
          
             
                if (reqData != null) {
                    roleId = reqData.roleId;
                    document.getElementById("roleName").value = reqData.roleName;
                }


                $.ajax({
                    type: "post",
                    url: "/SystemConfig/GetRoleMenuInfo",
                    data: { roleId },
                    success: function (res) {
                        tree.render({
                            elem: '#roleMenu',
                            data: res,
                            spread: true,//节点是否初始展开，默认 false
                            showCheckbox: true, //是否显示复选框
                            id: 'roleMenu',
                            click: function (obj) {
                                var data = obj.data;  //获取当前点击的节点数据
                                layer.msg('状态：' + obj.state + '<br>节点数据：' + JSON.stringify(data));
                            }
                        });
                    },
                    error: function (jqXHR) {
                        layer.close(msgDialogIndex);
                        layer.msg("发生错误：" + jqXHR.status, {
                            time: 0,  //不自动关闭
                            btn: ['确定'],
                            yes: function (index) {
                                layer.close(index);
                            }
                        });
                    }
                });


                $('button[name="btn-save"]').click(function () {


                    //获得选中的节点
                    var checkRoleMenuData = tree.getChecked('roleMenu');
                   

                    const msgDialogIndex = layer.msg('正在执行，请稍等.....', { shade: 0.3, icon: 16 });
                    $.ajax({
                        type: "post",
                        url: "/SystemConfig/AddEditRoleInfo",
                        data: {
                            RoleId: roleId,
                            RoleName: $('#roleName').val(),
                            RoleMenuInfos: checkRoleMenuData
                        },
                        success: function (res) {
                            layer.close(msgDialogIndex);
                       
                            if (res.status) {
                                layer.msg(roleId > 0 ? '修改成功' : '添加成功', {
                                    time: 2000,
                                    end: function () {
                                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                                        parent.layer.close(index);
                                    }
                                });
                            }
                            else {
                                layer.msg(res.msg, { icon: 5 });
                            }

                        },
                        error: function (jqXHR) {
                            layer.close(msgDialogIndex);
                            layer.msg("发生错误：" + jqXHR.status, {
                                time: 0,  //不自动关闭
                                btn: ['确定'],
                                yes: function (index) {
                                    layer.close(index);
                                }
                            });
                        }
                    });




                })

            });
        }

    </script>

}